*{
    margin: 0;
    /* background-color: rgb(222,248,252); */
}

.text {
    font-family: 'Poppins';
    padding: 30px;
    /* color: rgb(216,216,216); */
    transition: background-color 0.5s;
    display: none;
}
.hobs {
    padding: 60px;
    font-family: 'Poppins';
    font-size: 40px;
}

